// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form .box{
  border: 1px solid black;
  padding:10px;
  margin-top:30px;
}
.container{
  margin:20px;
  display:flex;
  justify-content: space-between;
}
.links{
  text-align: right;
}
.link{
  text-align: right;
}