<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <form action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" id="first_name" name="user[first_name]">
        </div>
        <br>
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" class="form-control" id="last_name" name="user[last_name]">
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="user[email]">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="user[password]">
        </div>
        <br>
        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input type="password"  id="password" name="user[password]">
        </div>
        <br>
        <input type="submit"  value="Register">
      </form><br>
    </div>
    <div class="col-md-7">
      <h1>Login</h1>
      <form action="/login" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="user[email]">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"  id="password" name="user[password]">
        </div>
        <br>
        <input type="submit"  value="Login">
      </form><br>
    </div>
  </div>
</div>
</body>
</html>